html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(130, 130, 130);
  font-family:
    "DejaVu Sans Mono",
    "Liberation Mono",
    "Courier New",
    "Menlo",
    "Consolas",
    monospace;
  font-size: clamp(14px, 2.5vw, 35px);
}

pre {
  line-height: 1;
  margin: 0;
}

pre a {
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
}

.tui-btn {
  background: #000000;
  color: white;
  padding: 0px;
  text-decoration: none;
  margin-left: 10px;
}

.tui-btn:hover {
  background: white;
  color: black;
}

main {
  flex: 1;
}

.topbar {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 0.1ch 0;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 1ch;
  background: #000;
  padding-bottom: 1ch;
}

.windows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.tui-window {
  display: flex;
  flex-direction: column;
  background:#382020;
  color:white;
  padding:10px;
  border:4px solid white;
  box-shadow:20px 20px rgb(46, 46, 46);
  font-family: monospace;
  min-height: 20px;
}

.tui-window-wip {
  display: flex;
  flex-direction: column;
  background:#88603d;
  color:white;
  padding:10px;
  border:4px solid rgb(0, 0, 0);
  box-shadow:20px 20px rgb(46, 46, 46);
  font-family: monospace;
  min-height: 20px;
}

.tui-title {
  border-bottom:1px solid rgb(255, 255, 255);
  margin-bottom:6px;
  padding-bottom:2px;
  text-align:center;
  color: rgb(255, 255, 255);
}

.tui-body {
  min-width:200px;
  text-align:center;
}

.tui-footer { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: auto; 
  text-align:center;
}